!!! 5
html
  head
    title visualization

    link(rel='stylesheet', type="text/css", media="screen, projection", href='/screen.css' )

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')

  body
    h1 visualization
    h2 #{datastream1}, #{datastream2}
    #dashboard
      #graph
      #sidebar
        ul#datastreams
    #actions

